.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  text-transform: none;
}

.slides img {
  margin: 0 auto; !important
  border: 1px solid #eee; !important
  max-width: 80%; !importatn
  max-height: 80%; !important
}
